body{
    margin: auto;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nyilak>div>button {
    border: 1px solid darkgray;
    cursor: pointer;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 10px;
}
.start{
    background-color: green;
    color: white;
}
.stop{
    background-color: red;
    color: white;
}

.nyilak {
    display: grid;
    text-align: center;
    padding: 1%;
    gap: 3px;
    width: 200px;
    height: 40px;
}

.gombok{
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
.gombok>button{
    border: 1px solid black;
    border-radius: 10px;
    width: auto;
    height: 30px;
    cursor: pointer;
}
.fel {
    grid-column: 1 / span 3;
    grid-row: 1;
}
.bal, .le, .jobbra{
    grid-row: 2;
}

.kijelzo{
    margin-top: 20%;
    border: 3px solid black;
    padding: 1%;
}

.start:hover{
    background-color: darkgreen;
    transition-duration: 200ms;
}
.stop:hover{
    background-color: darkred;
    transition-duration: 200ms;
}